<nav class="menu-group ls-app-nav ls-customer" ng-controller="menuCtrl as menu">
    <div class="menu-group-left">
        <ul class="menu-bar ls-img-logo">
            <li>
                <a ui-sref="res-orders"><img src="assets/img/lunch-society-logo.png" alt="Lunch Society Logo"></a>
            </li>
        </ul>
    </div>
    <div class="menu-group-right">
        <ul class="icon-left menu-bar ls-desktop">
            <li>
                <a ui-sref="res-orders"><i class="fa fa-inbox" aria-hidden="true"></i>Orders</a>
            </li>
            <li>
                <a ui-sref="res-meal-offers"><i class="fa fa-ticket" aria-hidden="true"></i>Meal Offers</a>
            </li>
            <li>
                <a ui-sref="res-meals"><i class="fa fa-cutlery" aria-hidden="true"></i>Meals</a>
            </li>
            <li>
                <a ui-sref="res-profile"><i class="fa fa-user" aria-hidden="true"></i>Profile</a>
            </li>
            <li>
                <a ng-click="logout()" class="button ls-cta-btn">Logout</a>
            </li>
        </ul>
        <ul class="menu-bar ls-mobile">
            <li>
                <a ui-sref="res-orders"><i class="fa fa-inbox" aria-hidden="true"></i></a>
            </li>
            <li>
                <a ui-sref="res-meal-offers"><i class="fa fa-ticket" aria-hidden="true"></i></a>
            </li>
            <li>
                <a ui-sref="res-meals"><i class="fa fa-cutlery" aria-hidden="true"></i></a>
            </li>
            <li>
                <a ui-sref="res-profile"><i class="fa fa-user" aria-hidden="true"></i></a>
            </li>
            <li>
                <a ng-click="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
</nav>
