* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html,
body {
    background: #fff;
    color: #111;
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.underline-me {
    text-decoration: underline;
}

.italics {
    font-style: italic;
}

.center {
    text-align: center;
}

.bold {
    font-weight: 700;
}

.capitalized {
    text-transform: uppercase;
}

.emphasis {
    font-size: 1.2rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

@import 'common';
@import 'components/module';
@import 'pages/module';
