<nav class="menu-group ls-app-nav">
  <div class="menu-group-left">
    <ul class="menu-bar ls-img-logo">
      <li><a href="/"><img src="assets/img/lunch-society-logo.png" alt="Lunch Society Logo"></a></li>
    </ul>
  </div>
  <div class="menu-group-right">
    <ul class="icon-left menu-bar ls-desktop">
      <li>
        <a href="about"><i class="fa fa-info-circle" aria-hidden="true"></i>About</a>
      </li>
      <li>
        <a href="how-it-works"><i class="fa fa-question-circle" aria-hidden="true"></i>How It Works</a>
      </li>
      <li>
        <a href="contact" class="button ls-cta-btn">Contact</a>
      </li>
    </ul>
    <ul class="menu-bar ls-mobile">
      <li>
        <a href="about"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="how-it-works"><i class="fa fa-question-circle" aria-hidden="true"></i>
</a>
      </li>
      <li>
        <a href="contact"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
