.ls-restaurant-pages {
    @include position(absolute, 0, 0, 0, 0);
    @include size(auto, auto);

    &.ls-profile-page {
        padding: 30px 0px;
        .ls-status {
            margin-top: 15px;
        }
        h5 {
            font-weight: 700;
        }
    }
    .ls-no-offers {
        padding: 0 1rem;
    }
    .ls-meal-card {
        margin-right: 2%;
        width: 23.5%;
        float: left;
        height: 310px;
    }
    .ls-default-meal-bar {
        margin-top: 9px;
    }
}
