---
name: res-create-meal
url: /restaurant/create-meal
---
<div class="vertical grid-frame">
    <div class="ls-app-bg"></div>
    <div ng-include="'/templates/restaurant/partials/menu-bar.html'"></div>
    <div class="ls-app-body ls-restaurant">
        <div class="grid-container ls-restaurant-pages" ng-controller="resCreateMealCtrl as createMeal">
            <div class="grid-block ls-title-bar">
                <div class="grid-block small-12 vertical">
                    <div class="grid-content">
                        <h2>Create Meal</h2>
                    </div>
                </div>
            </div>
            <div class="grid-block">
                <div class="grid-block small-12 vertical">
                    <div class="grid-content">
                        <form class="ls-form ls-create-form"
                           name="createMealForm" ng-submit="submitForm(createMealForm.$valid)">
                            <div class="grid-block">
                                <div class="small-12 medium-6 grid-content">
                                    <div class="ls-form-group" ng-class="{ 'ls-has-error' : createMealForm.mealName.$invalid && !createMealForm.mealName.$pristine }">
                                        <label for="mealName">
                                            Meal Name
                                            <input type="text" placeholder="e.g. Soft Glazed Duck" class="ls-input-fields" name="mealName" id="mealName" ng-model="createMealFormData.name" required>
                                        </label>
                                        <p ng-show="createMealForm.mealName.$invalid && !createMealForm.mealName.$pristine" class="ls-help-block">Enter a valid meal name.</p>
                                    </div>
                                    <div class="ls-form-group" ng-class="{ 'ls-has-error' : createMealForm.mealPrice.$invalid && !createMealForm.mealPrice.$pristine }">
                                        <label for="mealPrice">
                                            Meal Payout Price
                                            <input type="number" placeholder="e.g. 9.99" class="ls-input-fields" name="mealPrice" id="mealPrice" ng-model="createMealFormData.price" step="0.01" disabled required>
                                        </label>
                                        <p ng-show="createMealForm.mealPrice.$invalid && !createMealForm.mealPrice.$pristine" class="ls-help-block">Enter a valid meal price.</p>
                                    </div>
                                    <div class="ls-form-group" ng-class="{ 'ls-has-error' : createMealForm.mealImage.$invalid && !createMealForm.mealImage.$pristine }">
                                        <label for="mealImage">
                                            Meal Image <br>
                                            <input type="file" ngf-select name="mealImage" id="mealImage" ng-model="createMealFormData.meal_file_image" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" required>
                                            <img ngf-src="createMealFormData.meal_file_image || '/assets/img/lunchsociety-thumb.png'">
                                        </label>
                                        <p ng-show="createMealForm.mealImage.$invalid && !createMealForm.mealImage.$pristine" class="ls-help-block">Choose image file for the meal.</p>
                                    </div>
                                </div>
                                <div class="small-12 medium-6 grid-content">
                                    <div class="ls-form-group" ng-class="{ 'ls-has-error' : createMealForm.mealDesc.$invalid && !createMealForm.mealDesc.$pristine }">
                                        <label for="mealDesc">
                                            Meal Description
                                            <textarea name="mealDesc" id="mealDesc" cols="30" rows="8" placeholder="e.g. Soft glazed duck served on sizzling plate." class="ls-input-fields" ng-model="createMealFormData.description"></textarea>
                                        </label>
                                        <p ng-show="createMealForm.mealDesc.$invalid && !createMealForm.mealDesc.$pristine" class="ls-help-block">Enter a valid meal description.</p>
                                    </div>
                                    <div class="ls-form-group" ng-class="{ 'ls-has-error' : createMealForm.mealIngredients.$invalid && !createMealForm.mealIngredients.$pristine }">
                                        <label for="mealIngredients">
                                            Meal Ingredients
                                            <textarea name="mealIngredients" id="mealIngredients" cols="30" rows="8" placeholder="e.g. Cucumber, Avocado, Banana" class="ls-input-fields" ng-model="createMealFormData.ingredients" required></textarea>
                                        </label>
                                        <p ng-show="createMealForm.mealIngredients.$invalid && !createMealForm.mealIngredients.$pristine" class="ls-help-block">Enter a valid meal ingredients.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-block">
                                <div class="small-6 grid-content text-right">
                            <div class="ls-switch-container">
                                <div class="large switch">
                                    <input type="checkbox" id="defaultMeal" name="defaultMeal" ng-model="createMealForm.defaultMeal">
                                    <label for="defaultMeal"></label>
                                </div>
                                <p>Default Meal</p>
                            </div>
                                </div>
                                <div class="small-6 grid-content text-right">
                                    <input type="submit" class="button" value="Add Meal" ng-disabled="createMealForm.$invalid">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>
