---
name: res-edit-meal-offer
url: /restaurant/edit-meal-offer/:id
---
<div class="vertical grid-frame">
    <div class="ls-app-bg"></div>
    <div ng-include="'/templates/restaurant/partials/menu-bar.html'"></div>
    <div class="ls-app-body ls-restaurant">
        <div class="grid-container ls-restaurant-pages ls-create-pages" ng-controller="resEditMealOfferCtrl as editMealOffer">
            <div class="grid-block ls-title-bar">
                <div class="grid-block small-12 vertical">
                    <div class="grid-content">
                        <h2>Edit Meal Offer</h2>
                    </div>
                </div>
            </div>
            <div class="grid-block">
                <div class="grid-block small-12 vertical">
                    <div class="grid-content">
                        <form class="ls-form ls-edit-form" name="editMealOfferForm" ng-submit="submitForm(editMealOfferForm.$valid)" novalidate>
                            <article class="grid-block ls-form-section">
                                <div class="grid-content">
                                    <header class="ls-section-header">
                                        <span class="ls-section-number">1</span>
                                        <h3 class="ls-section-title">Select Meal</h3>
                                    </header>
                                    <section>
                                        <input type="hidden" ng-model="editMealOfferFormData.meal_id" name="mealID" required/>
                                        <ul>
                                            <li class="ls-card ls-meal-card" ng-repeat="meal in meals">
                                                <figure class="ls-meal-card-info">
                                                    <img ng-src="https://s3.ca-central-1.amazonaws.com/ls-frontend/meals/{{meal.meal_image}}" alt="" ng-if="meal.meal_image != ''" ng-class="{'ls-inactive-card': editMealOfferFormData.meal_id != meal.id && editMealOfferFormData.meal_id != null}">
                                                    <img src="/assets/img/lunchsociety-thumb.png" ng-if="meal.meal_image == ''" ng-class="{'ls-inactive-card': editMealOfferFormData.meal_id != meal.id && editMealOfferFormData.meal_id != null}" />
                                                    <figcaption class="ls-meal-card-caption">
                                                        <div class="ls-meal-card-title" ng-class="{'ls-inactive-card': editMealOfferFormData.meal_id != meal.id && editMealOfferFormData.meal_id != null}">
                                                            <h4>{{meal.name}}</h4>
                                                            <p>{{meal.ingredients}}</p>
                                                        </div>
                                                        <button class="button" type="button" ng-if="editMealOfferFormData.meal_id != meal.id" ng-click="selectMeal(meal.id)">Select Meal</button>
                                                        <button class="button alert" type="button" ng-if="editMealOfferFormData.meal_id == meal.id" ng-click="unselectMeal()">Unselect Meal</button>
                                                    </figcaption>
                                                </figure>
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </article>
                            <section class="grid-block ls-form-section">
                                <div class="small-6 grid-content">
                                    <header class="ls-section-header">
                                        <span class="ls-section-number">2</span>
                                        <h3 class="ls-section-title">Input Number of Plates Offered</h3>
                                    </header>
                                    <article>
                                        <div class="ls-form-group" ng-class="{ 'ls-has-error' : editMealOfferForm.platesOffered.$invalid && !editMealOfferForm.platesOffered.$pristine }">
                                            <label for="platesOffered">
                                                Number of Plates Offered
                                                <input type="number" placeholder="e.g. 50" class="ls-input-fields" name="platesOffered" id="platesOffered" ng-model="editMealOfferFormData.plates_assigned" step="1" required>
                                            </label>
                                            <p ng-show="editMealOfferForm.platesOffered.$invalid && !editMealOfferForm.platesOffered.$pristine" class="ls-help-block">Enter a valid number of plates offered.</p>
                                        </div>
                                    </article>
                                </div>
                                <div class="small-6 grid-content">
                                    <header class="ls-section-header">
                                        <span class="ls-section-number">3</span>
                                        <h3 class="ls-section-title">Select Offer Date</h3>
                                    </header>
                                    <article>
                                        <div class="ls-form-group" ng-class="{ 'ls-has-error' : createMealOfferForm.offerDate.$invalid && !editMealOfferForm.offerDate.$pristine }">
                                            <label for="offerDate">
                                                Offer Date
                                            </label>
                                            <datepicker date-format="longDate">
                                                <input ng-model="editMealOfferFormData.offer_date" type="text" class="ls-input-fields" name="offerDate" id="offerDate" placeholder="Select a Date" />
                                            </datepicker>
                                            <p ng-show="editMealOfferForm.offerDate.$invalid && !editMealOfferForm.offerDate.$pristine" class="ls-help-block">Enter a valid offer date.</p>
                                        </div>
                                    </article>
                                </div>
                            </section>
                            <div class="grid-block">
                                <div class="small-6 grid-content text-right">

                                </div>
                                <div class="small-6 grid-content text-right">
                                    <input type="submit" class="button" value="Add Meal Offer" ng-disabled="editMealOfferForm.$invalid">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
