---
name: res-orders
url: /restaurant/orders
---
<div class="vertical grid-frame">
    <div class="ls-app-bg"></div>
    <div ng-include="'/templates/restaurant/partials/menu-bar.html'"></div>
    <div class="ls-app-body ls-restaurant">
        <div class="grid-container ls-table-layout-pages ls-restaurant-pages" ng-controller="resOrdersCtrl as orders">
            <div class="grid-block ls-title-bar">
                <div class="grid-block small-8 vertical">
                    <div class="grid-content">
                        <h2>Orders</h2>
                    </div>
                </div>
                <div class="grid-block small-4 vertical">
                    <div class="grid-content text-right">
                        <a ng-click="viewMealOffer(currentViewDate)" class="button success ls-create-button">View Meal Offer</a>
                    </div>
                </div>
            </div>
            <div class="grid-block ls-nav-header">
                <div class="grid-block medium-3 vertical">
                   <div class="grid-content">
                        <a ng-click="changeDate('prevDay')" class="ls-link ls-prev-link"><i class="fa fa-angle-left" aria-hidden="true"></i> Previous Day</a>
                   </div>
                </div>
                <div class="grid-block medium-6 vertical">
                   <div class="grid-content text-center">
                        <h4>{{currentViewDate | amDateFormat:'MMMM DD, YYYY'}}</h4>
                   </div>
                </div>
                <div class="grid-block medium-3 vertical">
                   <div class="grid-content">
                        <a ng-click="changeDate('nextDay')" class="ls-link ls-next-link">Next Day <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                   </div>
                </div>
            </div>
            <section class="grid-block ls-filter-section">
                <div class="grid-block medium-6 vertical">
                   <div class="grid-content">
                        <label for="filterDate">
                            Filter By Date
                        </label>
                        <datepicker date-format="longDate">
                          <input ng-model="filterDate" type="text" class="ls-input-fields" name="filterDate" id="filterDate" placeholder="Choose a date"/>
                        </datepicker>
                   </div>
                </div>
                <div class="grid-block medium-3 vertical">
                   <div class="grid-content">
                         <a ng-click="changeDate('custom')" class="button">Filter By Date</a>
                   </div>
                </div>
                <div class="grid-block medium-3 vertical">
                   <div class="grid-content">
                         <a ng-click="changeDate('today')" class="button secondary">Today's Orders</a>
                   </div>
                </div>
            </section>
            <div class="grid-block" ng-repeat="pickupTime in pickupTimes">
               <div class="grid-block small-12 vertical">
                   <div class="grid-content">
                        <h4>{{pickupTime.pickup_time}}</h4>
                        <div class="ls-table-responsive-vertical shadow-z-1">
                           <table id="table" class="ls-table ls-table-hover">
                              <thead>
                                <tr>
                                  <th>ID</th>
                                  <th>Customer Name</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="order in pickupTime.orders">
                                    <td>{{order.id}}</td>
                                    <td><a ui-sref="customer({id: order.customer.id })">{{order.customer.first_name | titleCase}} {{order.customer.last_name | titleCase}} </a></td>
                                </tr>
                              </tbody>
                            </table>
                       </div>
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>
